[Desktop Entry]
Type=Application
Name=NumLock Notifier
Comment=Notifies on every change to NumLock state
# Adjust the following line to reflect the path on your system
Exec=/home/me/bin/numlock-notifier.sh
Hidden=false
Icon=input-keyboard
Terminal=false
OnlyShowIn=GNOME;
Categories=GNOME;GTK;System;Monitor;
Keywords=keyboard;monitor;numlock;device;input;source;lock;gsettings;
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true
